<h3>Картины:</h3>

{{#each picture}}

<p>{{this.picture_image}}</p>
<p>{{this.picture_header}}</p>
<p>{{this.picture_description}}</p>
<p>{{this.picture_price}}</p>
<p>{{this.picture_slug}}</p>

{{/each}}